.ABOUT-main{
    top: 1vw;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 8px;
    position: relative;
    font-size: 2vw;
    color: #000000;
    padding: 5px;
}

.ABOUT-main h3{
    margin: 8px 0;
}

#ABOUT-content{
    margin-left: 12px;
    margin-bottom: 2vw;
}

.ABOUT-form-button{
    background-color: var(--hcolour);
    color:white;
    transition: background-color 0.5s ease,color 0.5s ease;
    border-style: none;
    text-align: center;
    font-size: 2vw;
}

.ABOUT-form-button:hover{
    background-color: white;
    color: var(--hcolour);
    border-style: none;
    position: relative;
    font-size: 2vw;
}

@media screen and (max-width: 450px) {
    .ABOUT-main{
        font-size: 4vw;
    }
    .ABOUT-form-button{
        font-size: 3vw;
    }
}